/*
    Clemmons: background:#ff0900;color:white;
    6Gear: background:#F35607;color:white;
 */

.benz_views-product.up-buttons-2.active {
    background: #144ce0;
    color: white;
}

.mypagination ul li.active a {
    background: #aaa;
}

.supper_social {
    margin-right: 1em;
    text-align: right;
}

@media (max-width:1023px) and (min-width:768px) {
    .container_b .searchHolder.supper_social {
        margin-top: -32px !important;
        text-align: left;
        margin-right: 0 !important;
    }
}

@media (max-width:767px) {
    .container_b .searchHolder.supper_social {
        width: 100%;
        margin: 0 !important;
        text-align: center;
    }
}

.bikefront .header_b {
    margin-bottom: 10px;
}

.simplified_mu_nav .searchHolder.search-one {
    display:none;
}

.major_unit_searchbox {
    width: 95% !important;
}

.description_from_crs {
    font-size: 120%;
    line-height: 200%;
}

.showroom-grid-widget {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    background-color: #eeeeee;
    padding: 32px;
    margin-bottom: 12px;
}

.showroom-grid-widget .row {
    width: 100%;
}

.showroom-grid-widget .row .span3 {
    width: 24%;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    display: inline-block;
}

@media (max-width: 768px) {
    .showroom-grid-widget .row .span3 {
        width: 48%;
        padding-bottom: 6px;
        padding-left: 6px;
        padding-right: 6px;
        display: inline-block;
    }
}

@media (max-width: 460px) {
    .showroom-grid-widget .row .span3 {
        width: 100%;
        display: block;
        padding-bottom: 6px;
        padding-left: 6px;
        padding-right: 6px;
    }

    .showroom-grid-widget .showroom-tile {
        padding-bottom: 32px;
    }
}

.showroom-grid-widget .showroom-tile-image {
    border: 1px solid black;
    background-size: cover;
    width: 100%;
    position: relative;
}

.showroom-grid-widget .showroom-tile-title {
    text-align: right;
    display: block;
    height: 32px;
    text-overflow: ellipsis;
    overflow-y: hidden;
}


.showroom-grid-widget-title {
    font-size: 125%;
    font-weight: bold;
    display: block;
    margin-bottom: 3px;
}
