/*
    Clemmons: background:#ff0900;color:white;
    6Gear: background:#F35607;color:white;
 */

.benz_views-product.up-buttons-2.active {
    background: #144ce0;
    color: white;
}

.mypagination ul li.active a {
    background: #aaa;
}

.supper_social {
    margin-right: 1em;
    text-align: right;
}

