@charset "UTF-8";
/* CSS Document */

/* * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } */



.acct_nav_wrap { 
	background: none;
	height:auto;
	width:193px;
	position:relative;
	z-index: 1;
}
.acct_nav_content {
	border-top:1px #CCC solid;
	border-left:1px #CCC solid;
	border-right:1px #CCC solid;
	height:auto;
	margin:0px;
	width:193px;
}
.acct_menu-link {
	display: none;
	float: left;
	font-size: 20px;
	text-decoration: none;
	padding:16px 10px;
	cursor: pointer;
}
.acct_menu {  
	margin: 0px auto;
	width:auto;
	padding:0px 0px;
	-webkit-transition: all 0.3s ease-out;  
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out; 
}
.acct_menu ul { 
	background:none;
	padding: 0px;
	margin: 0px;
	list-style: none;
	position: relative;
	display: inline-table;
}
.acct_menu > li > ul.sub-menu {
	min-width: 10em;
	padding: 0px 0;
	background-color: #f4f4f4;
	border: 1px solid #CCC;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.acct_menu ul:after {
	content: ""; clear: both; display: block;
}
.acct_menu ul li {
	width:auto;
}
.acct_menu > ul > li { 
	
}
.acct_menu ul li a { 
	background:#EEE;
	background:-webkit-linear-gradient(#EEE 1%, #DDD 100%);
	background:-moz-linear-gradient(#EEE 0%, #DDD 100%);
	background:-ms-linear-gradient(#EEE 0%, #DDD 100%);
	border-bottom:1px #CCC solid;
	color: #333;
	display: block;
	font-size: 1em;
	font-weight: 600;
	text-decoration: none;
	text-align:left;
	text-shadow: 0px 1px #FFF;
	width:191px;
}
.acct_menu ul li a:hover { 
	background:#FFF;
	color: #003ca2;
	-webkit-transition: background-color 0.2s ease-in-out;  
	-moz-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out; 
}
.acct_menu ul li > a { 
	height:20px;
	padding: 15px 14px;	
}
.acct_menu ul ul { 
	display: none; 
	position: absolute; 
	top:100%;
	margin-top:1px;
	min-width: 208px;
	background-color: #DDD;
	background-image: none;
	border: 1px solid #AAA;
	border-top: 1px solid #000;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.acct_menu ul li:hover > ul {
	display: block;
}
.acct_menu ul ul > li {
	position: relative;
}
.acct_menu ul ul > li a {
	color:#333;
	padding: 10px 15px 10px 10px;
	font-size:12px;
	height: auto;
	background-color: #DDD;
	text-align: left;
	min-width: auto;
	-webkit-transition: background-color 0.2s ease-out;  
	-moz-transition: background-color 0.2s ease-out;
	-ms-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out; 
}
.acct_menu ul ul > li a:hover {
	background-image: none;
	background-color: #EFEFEF;
	color: #444;
}
.acct_menu ul ul ul {
	position: absolute; 
	left: 100%; 
	top:0;
}
/*
@media only screen and (min-width : 150px) and (max-width : 850px) {
   
  .acct_nav_wrap {
	  background: #EEE;
		background:-webkit-linear-gradient(#F6F6F6 0%, #CCC 100%);
		background:-moz-linear-gradient(#F6F6F6 0%, #CCC 100%);
		background:-ms-linear-gradient(#F6F6F6 0%, #CCC 100%);
	  border:none;
	  border-top:1px #CCC solid;
	  border-bottom:1px #AAA solid;
	  height:auto;
	  margin-top: -5px;
	  padding:0%;
	  width:100%;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
  } 
  .acct_nav_content {
		background: none;
		border:none;
		height:auto;
		margin:0px auto;
		width:100%;
	}
	.acct_menu-link {
		background-color: none;
		display: block;
		margin-top:3px;
		padding:3%;
	}
	.acct_menu-link a:link {
		border-bottom:none;
		text-shadow: 0 1px #FFF;
	}
	.acct_menu {
		background-image: none;
		clear: both;
		min-width: inherit;
		float: none;
		padding:0px 0px;
		width:99.8%;
	}
	.acct_menu, .acct_menu > ul ul {
		background:#222;
		overflow: hidden;
		max-height:0;
	}
	.acct_menu > li > ul.sub-menu {
		padding: 0px;
		border: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
	}
	.acct_menu.active, .menu > ul ul.active {
		max-height: 55em;
	}
	.acct_menu ul {
		display: inline;
	}
	.acct_menu ul ul li {
		width:100%;
	}
	.acct_menu > ul {
		border-top: none;
	}
	.acct_menu li, .acct_menu > ul > li {
		background-image: none;
		display: block;
		float:none;
		width:100%;
	}
	.acct_menu li a {
		display: block;
		padding: 0.8em;
		position: relative;
		text-align: left;
		width:100%;
	}
	.acct_menu ul li > a { 
		height:20px;
		padding: 10px 14px;	
	}
	.acct_menu ul li a { 
		background: #222;
		color:#CCC;
		border-bottom:1px #444 solid;
		width:100%;
		text-align: left;
		text-shadow: 0 1px #000;
	}
	.acct_menu ul li a:hover { 
		background: #333;
		color: #FFF;
		-webkit-transition: background-color 0.2s ease-in-out;  
		-moz-transition: background-color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out;
		-o-transition: background-color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out; 
	}

	}
	.acct_menu li.has-submenu > a:after {
		content: '+';
		position: absolute;
		top:0;
		right:30px;
		display: block;
		font-size:1.5em;
		padding:0.65em 0.5em;
	}
	.acct_menu li.has-submenu > a.active:after {
		content: "-";
	}
	.acct_menu ul ul > li a {
		background-color: #CCC;
		height:14px;
		padding: 19px 18px 19px 30px;
	}
	.acct_menu ul ul, .menu ul ul ul {
		display: inherit;
		position: relative;
		left: auto; 
		top:auto;
		box-shadow: none; 
		border:none;
	}
}
*/
